{{ define "additional-style" }}
{{ with resources.Get "css/photos-list.css" | toCSS | minify | fingerprint}}
    <style media="screen">{{ .Content | safeCSS }}</style>
{{ end }}
{{ end }}

{{ define "main" }}
<div class="post-list-photos">
    {{ range where $.Site.RegularPages "Section" "photos" }}

    <!-- Get explicit width and height to include in img tag -->
    {{ $srcWidth := .Params.width }}
    {{ $srcHeight := .Params.height }}

    <!-- Get image base path and type -->
    {{ $srcBase := .Site.Params.photosURL }}
    {{ $srcFile := index (findRE "^([^.]+)" .Params.src 1) 0 }}
    {{ $srcExt := index (findRE "\\.[^.]*$|$" .Params.src 1) 0 }}

    <figure class="photo-frame">
        <a href="{{ .RelPermalink }}">
            <picture>
                <source srcset="{{ $srcBase }}/width=640,metadata=none,format=webp/{{ $srcFile }}.webp 640w" sizes="100vw" type="image/webp">
                <source srcset="{{ $srcBase }}/width=640,metadata=none,format=jpeg/{{ $srcFile }}.jpg 640w" sizes="100vw" type="image/jpeg">
                <img src="{{ $srcBase }}/width=640,metadata=none/{{ $srcFile }}{{ $srcExt }}" alt="{{ .Title }}" width="{{ $srcWidth }}"
                  height="{{ $srcHeight }}" loading="lazy">
            </picture>
        </a>
        {{ if eq .Params.recommended "true" }}
        <figcaption class="photo-rec">
            {{ partial "heart" (dict "title" "Personal favorite" "width" "24px" "height" "24px" ) }}
        </figcaption>
        {{ end }}
    </figure>
    {{ end }}
</div>
{{ end }}