{{ define "style" }}
    {{ with resources.Get "css/photos-list.css" | toCSS | minify }}
	<style>{{ .Content | safeCSS }}</style>
    {{ end }}
{{ end }}

{{ define "main" }}
<div id="photos" class="post-list">
    {{ range where $.Site.RegularPages "Section" "photos" }}

	<!-- Get image base path and type -->
	{{ $srcBase := .Site.Params.photosURL }}
	{{ $srcFileFull := print $srcBase "/" (index (findRE "^([^.]+)" .Params.src 1) 0) }}
	{{ $srcExt := index (findRE "\\.[^.]*$|$" .Params.src 1) 0 }}
	{{ $srcType := replaceRE ".jpg" "jpeg" $srcExt }}

	<!-- Get explicit width and height to include in img tag -->
	{{ $srcWidth := .Params.width }}
	{{ $srcHeight := .Params.height }}
	{{ $srcCalcWidth := print "calc(" $srcWidth "px * 400/" $srcHeight ")" | safeCSS }}

	<figure class="photo-frame" style="width:{{ $srcCalcWidth }};">
	    <a href="{{ .Permalink }}">
		<picture>
		    <source srcset="{{ $srcFileFull }}-640.webp 640w" alt="{{ .Title }}" type="image/webp">
		    <source srcset="{{ $srcFileFull }}-640{{ $srcExt }} 640w" alt="{{ .Title }}" type="image/{{ $srcType }}">
		    <img src="{{ $srcFileFull }}-640{{ $srcExt }}" alt="{{ .Title }}" width="{{ $srcWidth }}" height="{{ $srcHeight }}" loading="lazy">
		</picture>
	    </a>
	    {{ if eq .Params.recommended "true" }}
		<figcaption>
		<a href="/ratings">
		<svg aria-label="Favorite" role="img" viewBox="0 0 32 32" width="24" height="24"><path fill="#fff" d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z"/></svg>
		</a>
		</figcaption>
	    {{ end }}
	</figure>
    {{ end }}
</div>
{{ end }}

