{{ define "additional-style" }}
{{ with resources.Get "css/photos-single.css" | toCSS | minify | fingerprint}}
    <style media="screen">{{ .Content | safeCSS }}</style>
{{ end }}
{{ end }}

{{ define "main" }}

<!-- Get explicit width and height to include in img tag -->
{{ $srcWidth := .Params.width }}
{{ $srcHeight := .Params.height }}

<!-- Get image base path and type -->
{{ $srcBase := .Site.Params.photosURL }}
{{ $srcFile := index (findRE "^([^.]+)" .Params.src 1) 0 }}
{{ $srcExt := index (findRE "\\.[^.]*$|$" .Params.src 1) 0 }}

<figure class="post-feature-frame">
    <a href="{{ $srcBase }}/metadata=none,format=jpeg/{{ $srcFile }}{{ $srcExt }}">
        <picture>
            <source srcset="{{ $srcBase }}/width=640,metadata=none,format=webp/{{ $srcFile }}.webp 640w, {{ $srcBase }}/width=1280,metadata=none,format=webp/{{ $srcFile }}.webp 1280w" sizes="100vw" type="image/webp">
            <source srcset="{{ $srcBase }}/width=640,metadata=none,format=jpeg/{{ $srcFile }}.jpg 640w, {{ $srcBase }}/width=1280,metadata=none,format=jpeg/{{ $srcFile }}.jpg 1280w" sizes="100vw" type="image/jpeg">
            <img src="{{ $srcBase }}/width=640,metadata=none/{{ $srcFile }}{{ $srcExt }}" alt="{{ .Title }}" width="{{ $srcWidth }}"
                height="{{ $srcHeight }}" class="post-feature-photo">
        </picture>
    </a>
</figure>

<article>
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        {{- if isset .Params "date" -}}
        <time class="post-meta" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "January 2, 2006" }}</time>
        {{- end -}}
    </header>
    {{- .Content -}}
</article>
{{ end }}