{{ define "additional-style" }}
{{ with resources.Get "css/photos-single.css" | minify | fingerprint}}
    <style media="screen">{{ .Content | safeCSS }}</style>
{{ end }}
{{ end }}

{{ define "main" }}

{{ $srcBase := .Site.Params.photosURL }}
{{ $img := partial "image-meta" (dict "baseURL" $srcBase "src" .Params.src "transforms" "metadata=none") }}

<figure class="post-feature-frame">
    <a href="{{ $srcBase }}/metadata=none,onerror=redirect,format=jpeg/{{ $img.file }}{{ $img.ext }}">
        <picture>
            <source srcset="{{ $srcBase }}/width=640,metadata=none,onerror=redirect,format=webp/{{ $img.file }}.webp 640w, {{ $srcBase }}/width=960,metadata=none,onerror=redirect,format=webp/{{ $img.file }}.webp 960w, {{ $srcBase }}/width=1280,metadata=none,onerror=redirect,format=webp/{{ $img.file }}.webp 1280w, {{ $srcBase }}/width=1920,metadata=none,onerror=redirect,format=webp/{{ $img.file }}.webp 1920w" sizes="100vw" type="image/webp">
            <source srcset="{{ $srcBase }}/width=640,metadata=none,onerror=redirect,format=jpeg/{{ $img.file }}.jpg 640w, {{ $srcBase }}/width=960,metadata=none,onerror=redirect,format=jpeg/{{ $img.file }}.jpg 960w, {{ $srcBase }}/width=1280,metadata=none,onerror=redirect,format=jpeg/{{ $img.file }}.jpg 1280w, {{ $srcBase }}/width=1920,metadata=none,onerror=redirect,format=jpeg/{{ $img.file }}.jpg 1920w" sizes="100vw" type="image/jpeg">
            <img src="{{ $srcBase }}/width=640,metadata=none,onerror=redirect/{{ $img.file }}{{ $img.ext }}" alt="{{ .Title }}" width="{{ $img.width }}"
                height="{{ $img.height }}" class="post-feature-photo">
        </picture>
    </a>
</figure>

<article>
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        {{- if isset .Params "date" -}}
        <time class="post-meta" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "January 2, 2006" }}</time>
        {{- end -}}
    </header>
    {{- .Content -}}
</article>
{{ end }}