    <footer id='footer' class='footer-container'>
      <div class='footer'>
        {{ partial "nav/menus/social" . }}
        {{ partial "footer/copyright" . }}
      </div>
      <script src="//cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
      <script src="//cdn.bootcss.com/highlight.js/9.12.0/languages/r.min.js"></script>
      <script>
        hljs.configure({languages: []});
        hljs.initHighlightingOnLoad();
      </script>
    </footer>

  </div>

  {{- partial "footer/scripts" . -}}

</body>

</html>
