[build]
publish = "public"
command = "hugo"

[context.production.environment]
HUGO_VERSION = "0.54.0"
HUGO_ENV = "production"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"
    Content-Security-Policy = "img-src 'self' dfsnow.me www.dfsnow.me; style-src-attr 'unsafe-inline'; style-src-elem 'self' 'unsafe-inline' dfsnow.me www.dfsnow.me"
    Referrer-Policy = "strict-origin-when-cross-origin"
    Strict-Transport-Security = "max-age=2592000"
    Feature-Policy = "vibrate 'none'; geolocation 'none'; midi 'none'; notifications 'none'; push 'none'; sync-xhr 'none'; microphone 'none'; camera 'none'; magnetometer 'none'; gyroscope 'none'; speaker 'none'; vibrate 'none'; fullscreen 'none'; payment 'none'"
