{{ define "main" }}
<div id="reading" class="post-list">
    {{ range where $.Site.RegularPages "Section" "reading" }}
        {{ if gt (len .Content) 0 }}
            <div class="post-list-info">
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            </div>
        {{ else }}
            <div class="post-list-info">{{ .Title }}</div>
        {{ end }}
        <div class="post-list-info">
            {{ .Params.author }}
        </div>
        <time class="post-list-date" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "2006-01-02" }}</time>
        <div class="post-list-misc">
            {{ if eq .Params.recommended "true"}}
                <a href="/hearts-and-ratings" class="link-fave-heart" title="Recommended book">
                    ♥
                </a>
            {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}
