{{ define "main" }}
<div id="reading" class="post-list">
    {{ range where $.Site.RegularPages "Section" "reading" }}
        <div class="post-list-info">
            <a href="{{ .Permalink }}" class="link-nowrap-nodec">
                {{ .Title }}
            </a>
        </div>
        <div class="post-list-info">
            {{ .Params.author }}
        </div>
        <time class="post-list-date">{{ .Date.Format "2006-01-02" }}</time>
        <div class="post-list-rec">
            {{ if eq .Params.recommended "true"}}
                <a href="/ratings" class="link-nowrap-nodec link-fave-heart" title="Recommended book">
                    ♥
                </a>
            {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}
