{{ define "main" }}
<article>
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        {{- if isset .Params "date" -}}
            <time class="post-meta">{{ .Date.Format "January 2, 2006" }}</time>
        {{- end -}}
        {{- if isset .Params "shorturl" -}}
        <span class="post-meta"> | </span>
        <a class="post-meta" href="{{ .Site.BaseURL }}/{{ .Params.shorturl }}">Short URL
        </a>
        {{- end -}}
        {{- if isset .Params "rating" -}}
            <a href="/hearts-and-ratings" class="post-rating">
                <h3>Score: {{ .Params.rating }} / 10</h3>
            </a>
        {{- end -}}
    </header>
    {{- .Content -}}
</article>
{{ end }}
