.content {
  .video-holder,
  picture,
  svg:not(.hover-icon svg) {
    display: flex;
    margin: 3rem calc(-1 * var(--add-media-width));
  }

  img,
  video {
    object-fit: contain;
  }

  svg:not(.hover-icon svg) {
    display: block;
  }
}