.content {
  grid-template-columns: 1fr var(--full-width) 1fr;
}

.content article {
  display: grid;
  grid-template-columns: 1fr var(--main-width) 1fr;
  row-gap: 0;

  *:not(picture),
  *:not(.video-holder) {
    grid-column: 2;
  }

  picture,
  .video-holder {
    display: flex;
    max-height: 90vh !important;
    grid-column: 1 / span 3 !important;
  }

  img,
  video {
    object-fit: contain;
  }
}