.content {
  max-width: 100%;
}

.content article * {
  max-width: var(--full-width);
  margin-left: auto;
  margin-right: auto;
}

.content .video-holder,
.content picture,
.content svg {
  display: flex;
  max-width: calc(var(--full-width) + var(--add-media-width));
  margin: 3rem auto;
}

.content img,
.content video {
  align-self: flex-start;
  max-width: calc(100% + 4rem);
  margin: 0 -2rem;
}

.content svg {
  display: block;
}
