article ul li:has(> svg) {
  list-style: none;
}

article ul li:has(> svg) > svg {
  display: none;
}

article ul li:has(> svg)::before {
  content: "";
  position: absolute;
  transform: translate(-1.2em, 0.4375em);
  width: var(--heart-size);
  height: var(--heart-size);
  background: url("/heart-marker.svg");
  background-size: cover;
}

article ul li:not(:has(> svg)) {
  list-style: none;
}

article ul li:not(:has(> svg))::before {
  content: "•";
  position: absolute;
  transform: translate(-0.8em, -0.2em);
  font-size: 1.3em;
}