@media screen and (min-width: 1025px) {

header#navbar {
    position: absolute;
    top: 40px;
    right: 50%;
    margin-top: 0;
    margin-right: 340px!important;
    width: 130px;
}

header#navbar hr {
    visibility: hidden;
}

main#content {
    margin: 40px 0 0 0;
}

main#content hr {
    width: 108%;
    margin-left: -3.8%;
}

main#content h3 {
    font-size: 2rem;
}

main#content header#post-header h1 {
    font-size: 2.6rem;
}

}
