.content {
  max-width: 100%;
}

.post-list-photos {
  display: flex;
  flex-wrap: wrap;
}

.post-list-photos > .photo-frame {
  display: flex;
  flex-grow: 2;
  margin: 0;
  padding: 0.5rem;
}

.photo-frame > .photo-rec {
  margin-top: 10px;
  margin-left: -44px;
  padding: 0 10px;
}

.photo-frame > .photo-rec a {
  padding: 0;
  white-space: normal;
}

.photo-frame > .photo-rec svg {
  fill: red;
}

.photo-frame > .photo-rec svg:hover {
  fill: darkred;
}

@media screen and (min-width: 1124px) {
  .post-list-photos > .photo-frame:last-of-type {
    max-width: 800px;
  }
}

@media screen and (max-width: 50rem) {
  .post-list-photos > .photo-frame {
    padding: 0.5rem 0;
  }
}
