.content {
  max-width: 100%;
}

.post-list-photos {
  display: flex;
  flex-wrap: wrap;
}

.post-list-photos > .photo-frame {
  margin: 0;
  padding: 5px;
  position: relative;
}

.photo-frame a {
  display: block;
}

.photo-frame picture {
  display: block;
}

.post-list-photos img {
  display: block;
  width: 100%;
  height: auto;
}

.photo-spacer {
  flex-grow: 999;
}

.photo-frame > .photo-rec {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
}

.photo-frame > .photo-rec a {
  padding: 0;
  white-space: normal;
}

.photo-frame > .photo-rec svg {
  fill: var(--heart-color);
}

.photo-frame > .photo-rec svg:hover {
  fill: var(--heart-hover);
}

@media only screen and (max-width: 720px) {
  .content {
    padding: 2rem 0;
  }

  .post-list-photos > .photo-frame {
    padding: 5px 0;
  }
}
