.content {
  max-width: 100%;
}

.content .post-feature-frame {
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 18rem);
  margin-top: 0.5rem;
}

.post-feature-photo {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

.content article {
  max-width: var(--full-width);
  margin: auto;
}

@media only screen and (max-width: 720px) {
  .content .post-feature-frame {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}
