.content {
  max-width: 100%;
}

.content .post-feature-frame {
  display: flex;
  justify-content: center;
  max-height: calc(100vh - 18rem);
  margin-top: 0.5rem;
}

.post-feature-photo {
  object-fit: contain;
  max-height: 100%;
}

.content article {
  max-width: 64rem;
  margin: auto;
}
