<meta charset="utf-8">

{{ if ne .Site.Title .Title -}}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
{{ else -}}
    <title>{{ .Site.Title }}</title>
{{ end -}}

{{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
{{ end }}

<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">

{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<meta name="viewport" content="width=device-width,initial-scale=1.0">

{{ $main := resources.Get "css/main.scss" | toCSS | minify }}
{{ $dark := resources.Get "css/syntax-dark.css" | minify }}
{{ $light := resources.Get "css/syntax-light.css" | minify }}
<style type="text/css" media="screen">
    {{ $main.Content | safeCSS }}
</style>
{{ if eq .Type "writing" }}
    <style type="text/css" media="screen">
        @media (prefers-color-scheme:dark) { {{ $dark.Content | safeCSS }} }
        @media (prefers-color-scheme:light) { {{ $light.Content | safeCSS }} }
    </style>
{{ end }}
