{{ define "main" }}
<div id="writing" class="post-list">
    {{ range where .Pages "Section" "writing" }}
        {{ if isset .Params "link" }}
            <div><a href="{{ .Params.link }}" target="_blank">{{ .Title }} ⧉</a></div>
        {{ else }}
            <div><a href="{{ .Permalink }}">{{ .Title }}</a></div>
        {{ end }}
        <time>{{ .Date.Format "2006-01-02" }}</time>
        {{ if eq .Params.recommended "true"}}
            <a href="/ratings" class="rec">♥</a>
        {{ else }}
            <div class="rec"></div>
        {{ end }}
    {{ end }}
</div>
{{ end }}
