{{ define "main" }}
<div id="writing" class="post-list">
    {{ range where $.Site.RegularPages "Section" "writing" }}
    <div class="post-list-info">
        {{ if isset .Params "link" }}
        <a href="{{ .Params.link }}" target="_blank" rel="noopener">
            <span>{{ .Title }}</span>
        </a>
        <svg aria-label="External link" role="img" viewBox="0 0 34 34" width="1em" height="1em" fill="var(--icon-color)" stroke="none">
            <title>External link</title>
            <path d="M14 11l-9 0 0 18 18 0 0-9 4 0 0 10c0 2-1 3-3 3l-20 0c-2 0-3-1-3-3l0-20c0-2 1-3 3-3l10 0ZM13 18c-2 2 1 5 3 3l11-11 0 6 3.5 0 0-12.5-12.5 0 0 3.5 6 0Z" />
        </svg>
        {{ else }}
        <a href="{{ .RelPermalink }}">
            <span>{{ .Title }}</span>
        </a>
        {{ end }}
    </div>
    <time class="post-list-date" datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "2006-01-02" }}</time>
    <div class="post-list-misc">
        {{ if eq .Params.recommended "true"}}
        {{ partial "heart" (dict "title" "Personal favorite" "width" $.Site.Params.heartSize "height"
        $.Site.Params.heartSize ) }}
        {{ end }}
    </div>
    {{ end }}
</div>
{{ end }}