{{ $srcBase := .Site.Params.photos_uri }}
{{ $srcFile := index (findRE "^([^.]+)" .Page.Params.src 1) 0 }}
{{ $srcExt := index (findRE "\\.[^.]*$|$" .Page.Params.src 1) 0 }}
{{ $srcType := replaceRE ".jpg" "jpeg" $srcExt }}

<a href="{{ $srcBase }}/original/{{ $srcFile }}{{ $srcExt }}">
    <picture>
        <source srcset="{{ $srcBase }}/{{ $srcFile }}-640.webp 640w, {{ $srcBase }}/{{ $srcFile }}-1280.webp 1280w"
            alt="{{ .Page.Title }}"
            type="image/webp">
        <source srcset="{{ $srcBase }}/{{ $srcFile }}-640{{ $srcExt }} 640w, {{ $srcBase }}/{{ $srcFile }}-1280{{ $srcExt }}1280w"
            alt="{{ .Page.Title }}"
            type="image/{{ $srcType }}">
        <img src="{{ $srcBase }}/{{ $srcFile }}-1280{{ $srcExt }}" alt="{{ .Page.Title }}">
    </picture>
</a>
