{{ if .IsNamedParams }}
{{ $srcBase := .Site.Params.postURL }}
{{ $src := .Get "src" }}
{{ $srcFileFull := index (findRE "^([^.]+)" $src 1) 0 }}
{{ $srcExt := index (findRE "\\.[^.]*$|$" $src 1) 0 }}
{{ $srcType := replaceRE ".jpg" "jpeg" $srcExt | replaceRE "\\." "" }}

<!-- Fetch remote image to get dimensions -->
{{ $imgURL := printf "%s%s%s" $srcBase $srcFileFull $srcExt }}
{{ $srcWidth := 0 }}
{{ $srcHeight := 0 }}
{{ with try (resources.GetRemote $imgURL) }}
  {{ with .Err }}
    {{ warnf "Failed to fetch %s: %s" $imgURL . }}
  {{ else with .Value }}
    {{ $srcWidth = .Width }}
    {{ $srcHeight = .Height }}
  {{ end }}
{{ end }}
<picture>
    <source srcset="{{ $srcBase }}{{ $srcFileFull }}{{ $srcExt }}" type="image/{{ $srcType }}">
    <img src="{{ $srcBase }}{{ $srcFileFull }}{{ $srcExt }}" alt='{{ .Get "alt" }}' width='{{ $srcWidth }}'
        height='{{ $srcHeight }}' loading="lazy">
</picture>
{{ end }}
