{{ if .IsNamedParams }}
    {{ $srcBase := .Site.Params.postURL }}
    {{ $src := .Get "src" }}
    {{ $srcFileFull := index (findRE "^([^.]+)" $src 1) 0 }}
    {{ $srcExt := index (findRE "\\.[^.]*$|$" $src 1) 0 }}
    {{ $srcType := replaceRE ".jpg" "jpeg" $srcExt | replaceRE "\\." "" }}
    <picture>
	<source srcset="{{ $srcBase }}{{ $srcFileFull }}{{ $srcExt }}" alt="{{ .Get "alt" }}" title="{{ .Get "alt" }}" type="image/{{ $srcType }}">
	<img src="{{ $srcBase }}{{ $srcFileFull }}{{ $srcExt }}" alt="{{ .Get "alt" }}" width="{{ .Get "width" }}" height="{{ .Get "height" }}" loading="lazy">
    </picture>
{{ end }}
