name: lighthouse-ci

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  check-lighthouse-score:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout site
      - uses: actions/checkout@v6

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.154.0"
          extended: true

      - name: Build site
        run: hugo

      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v12
        with:
          configPath: "./lighthouserc.json"
          temporaryPublicStorage: true