name: lychee

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: |
            --base . --verbose
            --no-progress './content/**/*.md'
            --accept '100..=103,200..=299,403'
            --exclude 'wireguard.com'
            --exclude 'gnu.org'
          fail: true